
<p>
  This is the documentation for the Little Discount Shop API. 
  You can use this API to access data for the following resources:
  <ul>
      <li>All Items</li>
      <li>All Merchants</li>
      <li>A Single Item</li>
      <li>A Single Merchant</li>
      <li>An Item's Merchant</li>
      <li>A Merchant's Items</li>
    </ul>
  In addition, you may also search for items or merchants using their attributes.
</p>

<p>
For more information on how to use the API, please click on the links below.
  <%= render 'api_accordion' %>
</p>