<%= render 'shared/merchant_nav' %>

<h1>Create New Bulk Discount</h1>
    
<%= render 'form', discount: @discount %>

<% if Discount.discount_conflicts?(@discount) %>
  <% @conflicting_discounts = Discount.discount_conflicts?(@discount) %>
  <%= render 'conflicts', conflicts: @conflicting_discounts %>
<% end %>