<html>
<head>
  <title>404: Not Found</title>
  <style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    body {
      background-image: url('https://github.com/brennacodes/little-discount-shop/blob/main/app/assets/images/concrete-arrows.jpg');
      min-height: 100%;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    </style>
</head>

<body>
  <!-- This file lives in views/404.html -->
        <h1 class="text-center">404</h1>
        <hr>
        <p class="text-center">Yeah, that's not supposed to happen.</p>
        <p class="text-center">Maybe give whatever you were doing another go?</p>
        <p class="text-center">Or click on one of the links to get back on track.</p>
      <div class="position-absolute bottom-0 start-0">
        Brought to you by: Oppsie Daisies
      </div>
    </div>
  </div>
</body>
</html>
