<style>
    body {font-family: "Raleway", sans-serif}
    /* body {
      background-image: url('https://raw.githubusercontent.com/brennacodes/little-discount-shop/main/app/assets/images/concrete-arrows.jpg'), opecity: 0.5;
      position: relative;
      width: 100%;
      height: auto;
      /* display: flex; */
      /* background-position: center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat; */
    /* } */ 
    *, *::before, *::after {
      box-sizing: content-box;
    }

    html {
      font-size: 100%;
    }
    body {
      background-color: #000000;
      font-family: Arial, sans-serif;
      color: #ffffff;
      line-height: 1.5;
    }

    .hero { 
      position: relative; 
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('https://raw.githubusercontent.com/brennacodes/little-discount-shop/main/app/assets/images/concrete-arrows.jpg');
      background-size: cover;
      
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        //background-color: rgba(0,0,0,0.25);
        background-color: rgba(152, 66, 211, 0.63);
      }
    }

  h1 {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
  }
    /* }
    body::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(216, 216, 216, 0.398);
    }
    h1 {
      color: rgb(255, 0, 0);
      font-family:'Courier New', Courier, monospace;
      font-size: 100px;
      font-weight: 700;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1%;
    } */
    .footnote {
      color: rgb(255, 255, 255);
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      font-weight: 700;
      position: fixed;
      left: 45%;
      bottom: 70px;
    }
</style>

<div class="hero">
    <!-- This file lives in views/404.html -->
    <h1 class="text-center">404</h1>

    <hr>

    <p class="text-center">Looks like you've found yourself in a pickle.</p>
    <p class="text-center">Maybe give whatever you were doing another go?</p>
    <p class="text-center">Or click on one of the links to get back on track.</p>

    <div class="footnote">
    Mistakes Were Made
    </div>
</div>

